.root {
  margin-top: 24px;
  margin-bottom: 24px;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 2px;
}

@media (min-width: 900px) {
  .cardContainer {
    flex-direction: row;
  }

  .root {
    margin-bottom: 39px;
  }
}

@media (min-width: 1320px) {
  .root {
    margin-bottom: 24px;
  }
}