.root {
  margin-top: 24px;
  margin-bottom: 24px;
}

.cardContainer {
  background-color: blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 900px) {
  .cardContainer {
    flex-direction: row;
    background-color: red;
  }
  .root {
    margin-bottom: 39px;
  }
}

@media (min-width: 1416px) {
  .root {
    margin-bottom: 24px;
  }
}