.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  width: 100%;
}

.textContainer {
  height: 74px;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: space-between; */
  align-items: start;
  position: relative;
  left: -19px;
  margin-bottom: 24px;
}

.textBlack {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #3E3E3E;
  margin-right: 6px;
}

.textLightBlack {
  margin-top: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #9A9A9A;
}


.customSlider {
  position: relative;
  height: auto;
  width: 288px;
}

.sliderContainer {
  :global .slick-dots {
    position: absolute;
    top: 221px;
  }
}

.sliderContainer {
  :global .slick-dots li {
    flex-direction: row;
  }
}

.sliderContainer {
  :global .slick-dots li button {
    background: #F5F6F8;
    color: rebeccapurple;
    border-radius: 100px;
    border: 1px solid #E9E9E9;

  }
}

.sliderContainer {
  :global .slick-dots .slick-active button {
    background-color: orange;
    border-radius: 100px;
    border: none;
  }
}

.twoLineText {
  height: 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 900px) {
  .customSlider {
    width: 876px;
    top: none;
  }

  .sliderContainer {
    margin-left: 24px;
  }

  .twoLineText {
    height: 28px;
    flex-direction: row;
    justify-content: space-between;
  }

  .textContainer {
    left: -214px;
  }

  .textLightBlack {
    margin-top: 0;
  }
}

@media (min-width: 1320px) {
  .customSlider {
    width: 1344px;
  }

  .textContainer {
    left: -443px;
  }
}