.heroProductContainer {
  margin-bottom: 70px;
}

.heroAdvantagesContainer {
  margin-bottom: 70px;
  /* display: flex; */
  /* justify-content: center; */
}

.heroPhotoContainer {
  margin-bottom: 68px;
}

.sugestionContainer {
  margin-top: 46px;
}

@media (min-width: 900px) {
  .heroProductContainer {
    margin-bottom: 48px;
  }
  .sugestionContainer {
    margin-top: 0;
  }
}