.heroProductContainer {
  margin-bottom: 70px;
}

.heroAdvantagesContainer {
  margin-bottom: 70px;
  display: flex;
  justify-content: center;
}

@media (min-width: 900px) {
  .heroProductContainer {
    margin-bottom: 0px;
  }
}