@import "normalize.css";

* {
  margin: 0;
}

a {
  text-decoration: none;
}

.App {
  display: flex;
  flex-direction: column;
}

body, input, button {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
}