  /* Здесь будут все стили для мобильных устройств с viewport меньше 770 пикселей. */
  header {
    width: 200px;
    height: 200px;
    background-color: red;
    color: black;
    font-size: 20px;
  }


  @media (min-width: 770px) {
    /*
    Стили для устройств, у которых ширина viewport больше или равно 770 пикселей
    */
  }

  @media (min-width: 990px) {
    /*
    Стили для устройств, у которых ширина viewport
    больше или равно 990 пикселей, но меньше 1400 пикселей.
    */
  }

  @media (min-width: 1400px) {
    /*
    Стили для устройств, у которых ширина viewport
    больше или равно 1400 пикселей
    */
  }