.root {
  display: flex;
  justify-content: center;
}

.sugestionContainer {
  position: relative;
  height: 260px;
  width: 288px;
  background-color: #5959D9;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}

.text {
  margin-top: 32px;
  margin-bottom: 24px;
  justify-content: center;
  width: 256px;
}

.title {
  color: #FFFFFF;
  justify-content: start;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 8px;
}

.discription {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.formMobile {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 96px;
  width: 256px;
}

.inputContainerMobile {
  width: 256px;
  height: 48px;
  border-radius: 50px;
  border: none;
  /* font-weight: 400;
  font-size: 12px;
  line-height: 16px; */
}

.inputMobile {
  width: 230px;
  height: 48px;
  border-radius: 50px;
  border: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  padding-left: 24px;
}


.inputButtonMobile {
  background-color: #EB8426;
  width: 256px;
  height: 32px;
  border-radius: 50px;
  border: none;
}


.buttonContentMobile {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.buttonTitleMobile {
  display: flex;
  margin-right: 8px;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

/* ----------------------- */

.formDesctop {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  width: 633px;
}

.inputContainerDesctop {
  width: 256px;
  height: 48px;
  border-radius: 50px;
  border: none;
  /* font-weight: 400;
  font-size: 12px;
  line-height: 16px; */
}

.inputDesctop {
  width: 230px;
  height: 48px;
  border-radius: 50px;
  border: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  padding-left: 24px;
}


.inputButtonDesctop {
  background-color: #EB8426;
  width: 256px;
  height: 32px;
  border-radius: 50px;
  border: none;
}


.buttonContentDesctop {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.buttonTitleDesctop {
  display: flex;
  margin-right: 8px;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}


/* ------------------------ */
.imgArrow {
  width: 16px;
  height: 16px;
}

.formDesktop {
  display: none;
}

.ready {
  display: none;
}

@media (min-width: 900px) {
  .sugestionContainer {
    width: 852px;
    height: 258px;
  }

  .text {
    width: 633px;
    margin-bottom: 48px;
    margin-top: 40px;
  }

  .discription {
    width: 450px;
    font-weight: 400;
    font-size: 14px;
  }

  .title {
    color: #FFFFFF;
    justify-content: start;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 8px;
  }

  .formMobile {
    display: none;
  }

  .formDesktop {
    display: flex;
    position: relative;
  }

  .inputContainerDesktop {
    width: 633px;
    height: 48px;
  }
  .inputDesktop {
    width: 607px;
    height: 47px;
    border-radius: 50px;
    border: none;
    padding-left: 24px;
  }
  .inputButtonDesktop {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    flex-direction: row;
    background-color: #EB8426;
    border-radius: 50px;
    border: none;
    color: #FFFFFF;
  }
  .buttonContentDesktop {
    width: 133px;
    height: 32px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .buttonTitleDesktop {
    margin-right: 8px;
  }
}

@media (min-width: 1300px) {
  .sugestionContainer {
    height: 306px;
    width: 1320px;

    /* background-color: #5959D9; */
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* border-radius: 5px; */
  }
  .formDesktop {
    position: absolute;
    top: 172px;
  }

  .ready {
    position: absolute;
    top: 242px;
    display: flex;
    color: #D6D6D6;
    font-style: 12px;
    font-weight: 500;
    line-height: 16px;
  }
  
  .text {
    position: absolute;
    top: 40px;
    left: 112px;
    margin: 0;
  }
}