.root {
  width: 288px;
  height: 283px;
  background-color: #F5F6F8;
  margin: 100px;
  position: relative;
  border-radius: 5px;
}

.img {
  position: absolute;
  top: 20px;
  left: 80px;
  height: 127px;
}

.text {
  position: absolute;
  top: 175px;
  margin: 0 56px;
}

.title {
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #0B0B0B;
  margin-bottom: 16px;
}

.description {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #292929;
}


@media (min-width: 900px) {
  .root {
    width: 268px;
    height: 282px;
  }
  .img {
    left: 71px;
    width: 126px;
    height: 126px;
  }
  
  .text {
    margin: 0 46px;
  }

  .title {
    margin-bottom: 12px;
  }
}

@media (min-width: 1320px) {
  .root {
    width: 424px;
    height: 174px;
  }

  .img {
    left: 274px;
  }

  .text {
    position: absolute;
    top: 45px;
    left: 24px;
    left: 0;
    margin-right: 170px;
  }

  .title {
    text-align: start;
  }

  .description {
    text-align: start;
  }
}