.root {
  border: 1px solid black;
  /* position: absolute; */
  width: 288px;
  height: 283px;
  background-color: #F5F6F8;
  /* left: 400px; */
  margin: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 5px;
}

.img {
  position: absolute;
  top: 20px;
  left: 80px;
  height: 127px;
}

.text {
  position: absolute;
  top: 175px;
  
}

.title {
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #0B0B0B;
  margin-bottom: 16px;
}

.description {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #292929;
}