.root {
  display: flex;
  justify-content: center;
  width: 100%;
}

.customSlider {
  width: 288px;
  height: auto;

}

.sliderContainer {
  :global .slick-dots {
    position: absolute;
    top: 300px;
  }
}

.sliderContainer {
  :global .slick-dots li {
    flex-direction: row;
  }
}

.sliderContainer {
  :global .slick-dots li button {
    background: #F5F6F8;
    color: rebeccapurple;
    border-radius: 100px;
    border: 1px solid #E9E9E9;
  }
}

.sliderContainer {
  :global .slick-dots .slick-active button {
    background-color: orange;
    border-radius: 100px;
    border: none;
  }
}

@media (min-width: 900px) {

  .sliderContainer {
    margin-left: 24px;
  }

  .customSlider {
    width: 876px;
  }
}

@media (min-width: 1320px) {
  .customSlider {
    width: 1344px;
  }

  .sliderContainer {
    :global .slick-track {
      width: 1344px !important;
    }
  }
  
  .sliderContainer {
    :global .slick-slide {
      width: 448px !important;
    }
  }
}