.root {
  display: flex;
  justify-content: center;
  width: 100%;
}

.customSlider {
  position: relative;
  height: auto;
  width: 288px;
}


.carousel {
  width: 288px;
  height: 428px;
}

.sliderContainer {
  :global .slick-dots {
    /* background-color: red; */
    position: absolute;
    top: 418px;
    /* border: 1px solid black; */
  }
}

.sliderContainer {
  :global .slick-dots li {
    /* display: flex; */
    flex-direction: row;
    
    /* height: 12px; */
    /* width: 12px; */
  }
}

.sliderContainer {
  :global .slick-dots li button {
    /* background: red; */
    background: #F5F6F8;
    color: rebeccapurple;
    border-radius: 100px;
    border: 1px solid #E9E9E9;
    
  }
}

.sliderContainer {
  :global .slick-dots .slick-active button {
    background-color: orange;
    border-radius: 100px;
    border: none;
  }
}

@media (min-width: 900px) {
  .customSlider {
    width: 875px;
    top: 418px
  }

  /* .maxWindow:nth-child(3) . */
}

@media (min-width: 1320px) {
  .customSlider {
    width: 1344px;
    /* margin-left: 24px; */
    
  }

  /* .customSlider {
    width: 1320px;
  } */
}