.root {
  display: flex;
  justify-content: center;
  width: 100%;
}

.customSlider {
  position: relative;
  height: auto;
  width: 288px;
}


.carousel {
  width: 288px;
  height: 428px;
}

.sliderContainer {
  :global .slick-dots {
    position: absolute;
    top: 418px;
  }
}

.sliderContainer {
  :global .slick-dots li {
    flex-direction: row;
  }
}

.sliderContainer {
  :global .slick-dots li button {
    /* background: red; */
    background: #F5F6F8;
    color: rebeccapurple;
    border-radius: 100px;
    border: 1px solid #E9E9E9;
    
  }
}

.sliderContainer {
  :global .slick-dots .slick-active button {
    background-color: orange;
    border-radius: 100px;
    border: none;
  }
}

@media (min-width: 900px) {
  .customSlider {
    width: 875px;
    top: none;
  }
}

@media (min-width: 1320px) {
  .customSlider {
    width: 1344px;    
  }
}