.root {
  display: flex;
  justify-content: center;
  width: 100%;
}

.customSlider {
height: auto;
width: 288px;
}

.sliderContainer {
  display: flex;
  justify-content: center;
  height: 430px;
  width: 920px;
  /* background-color: rgb(13, 76, 186); */
  /* display: flex; */
  /* justify-content: space-evenly; */
}

.carousel {
  width: 288px;
  height: 428px;
}



@media (min-width: 900px) {
  .customSlider {
    width: 870px;
    margin-left: 28px;
    }

  /* .maxWindow:nth-child(3) . */
}

@media (min-width: 1320px) {

  .customSlider {
    width: 1320px;
  }
}